.carousel-wrapper {
	position: relative;
	padding-left: 160px;
	width: 225px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;

	p,
	.carousel-item {
		font-size: 25px;
		font-weight: 700;
		line-height: 1.3;
	}
}

.carousel-button {
	display: flex;
	align-self: center;
	padding: 10px;
	max-width: 50px;
	border-radius: 30px;
	background: transparent;
	border: 2px solid var(--white);
	cursor: pointer;

	&:hover {
		svg {
			filter: drop-shadow(0px 0px 15px yellow);
			fill : #a0968e!important;
		}
	}
	svg {
		height: 26px;
		width: 26px;
		fill: #53545c;
		filter: drop-shadow(0px 0px 5px transparent);
		transition: fill .3s;

		path {
			fill: var(--white);
		}
	}
}

.carousel-inner {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 250px;
	max-height: 250px;
	width: 135px;

	* {
		font-family: "BauerBodoni";
	}
}

.carousel-item {
	position: absolute;
	background: none;
	color: #53545c;
	border: none;
	text-decoration: none;
	transform: translate(-50%, -50%);
	transition: font-size .5s;
	opacity: 0;
	cursor: pointer;

	&.visible {
		opacity: 1;
		font-size: 25px;

		&.active {
			font-size: 50px;

			&:hover {
				font-size: 63px;
				span {
					&::before {
						transform: scaleX(1);
					}
				}
			}
		}
	}

	&:hover {
		font-size: 35px;
		span {
			&::before {
				transform: scaleX(1);
			}
		}
	}

	span::before {
		content: "";
		position: absolute;
		display: block;
		width: 100%;
		height: 2px;
		bottom: 3px;
		left: 0;
		background-color: #53545C;
		transform: scaleX(0);
		transition: transform 0.3s ease;
	}
}

// Bullet points
.carousel-points {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	right: -63px;
	top: 50%;
	transform: translateY(-50%);

	.bullet-point {
		width: 10px;
		height: 10px;
		border-radius: 50px;
		background-color: #caad98;
		margin: 5px 0;

		&:nth-of-type(2) {
		width: 12px;
		height: 12px;
			background-color: #FFF;
		}
	}
}