.carousel-wrapper {
	position: relative;
	padding-left: 160px;
	width: 225px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;

	p,
	.carousel-item {
		font-size: 25px;
		font-weight: 700;
		line-height: 1.3;
	}
}

.carousel-button {
	display: flex;
	align-self: center;
	padding: 10px;
	max-width: 50px;
	border-radius: 30px;
	background: transparent;
	border: 2px solid var(--white);

	svg {
		height: 26px;
		width: 26px;
		fill: #FFF;
	}

	path {
		fill: var(--white);
	}
}

.carousel-inner {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 250px;
	max-height: 250px;
	width: 135px;

	* {
		font-family: "BauerBodoni";
	}
}

.carousel-item {
	position: absolute;
	background: none;
	color: #53545c;
	border: none;
	text-decoration: none;
	transform: translate(-50%, -50%);
	transition: font-size .8s;
	opacity: 0;

	&.visible {
		opacity: 1;
		font-size: 25px;

		&.active {
			font-size: 50px;

			@keyframes glitchActive {
				0% {
					transform: translate(0)
				}
				50% {
					transform: translate(-12px, -2px);
					font-size: 60px;
				}
				to {
					transform: translate(0)
				}
			}

			&:hover {
				&:before, &:after {
					opacity: 1;
				}
				&:before {
					animation: glitchActive 1s cubic-bezier(0.18, 0.89, 0.32, 1.28) both 1
				}
				&:after {
					animation: glitchActive 1s cubic-bezier(.25, .46, .45, .94) reverse both 1
				}
				span {
					&::before {
						transform: scaleX(1);
					}
				}
			}
		}
	}
	&:before, &:after {
		content: attr(data-glitch);
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
	} 
	&:after {
		color: #ffffff69;
		z-index: -2;
	}
	&:before {
		color: #ffffff69;
		z-index: -1;
	}
	&:hover {
		&:before, &:after {
			opacity: 1;
		}
		&:before {
			animation: glitch 1s cubic-bezier(0.18, 0.89, 0.32, 1.28) both 1
		}
		&:after {
			animation: glitch 1s cubic-bezier(.25, .46, .45, .94) reverse both 1
		}
		span {
			&::before {
				transform: scaleX(1);
			}
		}
	}

	@keyframes glitch {
		0% {
			transform: translate(0)
		}
		50% {
			transform: translate(-12px, -2px);
			font-size: 30px;
		}
		to {
			transform: translate(0)
		}
	}

	span::before {
		content: "";
		position: absolute;
		display: block;
		width: 100%;
		height: 2px;
		bottom: 3px;
		left: 0;
		background-color: #53545C;
		transform: scaleX(0);
		transition: transform 0.3s ease;
	}
}

// Bullet points
.carousel-points {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	right: -63px;
	top: 50%;
	transform: translateY(-50%);

	.bullet-point {
		width: 10px;
		height: 10px;
		border-radius: 50px;
		background-color: #caad98;
		margin: 5px 0;

		&:nth-of-type(2) {
		width: 12px;
		height: 12px;
			background-color: #FFF;
		}
	}
}